---
const currentYear = new Date().getFullYear();

const countryBusinessDirectory = [
  { icon: 'https://flagicons.lipis.dev/flags/4x3/au.svg', name: 'Australia Business Directory', href: 'https://www.aus61business.com/' },
  { icon: 'https://flagicons.lipis.dev/flags/4x3/ca.svg', name: 'Canada Business Directory', href: 'https://www.can1business.com/' },
  { icon: 'https://flagicons.lipis.dev/flags/4x3/gb.svg', name: 'United Kingdom Business Directory', href: 'https://www.gbrbusiness.com/' },
  { icon: 'https://flagicons.lipis.dev/flags/4x3/hk.svg', name: 'Hong Kong Business Directory', href: 'https://www.hkgbusiness.com/' },
  { icon: 'https://flagicons.lipis.dev/flags/4x3/my.svg', name: 'Malaysia Business Directory', href: 'https://www.mysbusiness.com/' },
  { icon: 'https://flagicons.lipis.dev/flags/4x3/no.svg', name: 'Norway Business Directory', href: 'https://www.nor47business.com/' },
  { icon: 'https://flagicons.lipis.dev/flags/4x3/nz.svg', name: 'New Zealand Business Directory', href: 'https://www.nzlbusiness.com/' },
];

const QuickLinks = [
  { name: 'Home About SGP Business', href: '/' },
  { name: 'Singapore Standard Industrial Classification', href: 'companies' },
  { name: 'Browser Categories', href: '/categories' },
  { name: 'Singapore Government', href: '/government' },
  { name: 'Instagram(@sgpbusiness)', href: 'https://www.instagram.com/sgpbusiness/' },
  { name: 'Our Privacy Policy', href: '/Privacy-Policy' },
  { name: 'Contact US', href: '/contact' },
];

---

<footer class="bg-gray-700 text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <h2 class="text-xl font-bold mb-4">About SGP Business</h2>
        <p class="text-gray-300 mb-4 text-sm">
          Singapore’s premier platform for businesses and individuals. We consolidate data from across the web and present it in a clean, organized format. Let us handle the research while you access reliable, up-to-date business directories tailored for Singapore.
        </p>
        <!-- Ad container that won't be visible until ads are added -->
        <div id="footer-ad" class="ad-container" data-ad-slot="footer"></div>
      </div>
      <div>
        <!-- <h3 class="text-lg font-bold mb-4">Business Directories</h3>
        <ul class="space-y-2 mb-4">
          {countryBusinessDirectory.map((link) => (
            <li>
              <span class="flag-icon" style={`background-image: url(${link.icon})`}></span>
              <a 
                href={link.href} 
                class="text-gray-300 hover:text-white transition-colors duration-200 text-sm ease-in-out"
              >
                {link.name}
              </a>
            </li>
          ))}
        </ul> -->
        <!-- <h4 class="text-md hover:text-gray-300 mb-4"><a href="#" class="text-gray-300 hover:text-white">Masked NRIC is Not Private</a></h4> -->
        <h3 class="text-lg font-bold mb-4">Data Analytics</h3>
        <ul class="space-y-2 mb-4">
          <li><a href="#" class="text-gray-300 hover:text-white">Live Entities with Exact Match Name</a></li>
          <!-- <li><a href="#" class="text-gray-300 hover:text-white">Top 20 Property Agency by Number of Salesperson</a></li>
          <li><a href="#" class="text-gray-300 hover:text-white">Energy Market Company-Uniform Singapore Energy Price(USEP)</a></li> -->
        </ul>
        <!-- <h3 class="text-lg font-bold mb-4">List of</h3>
        <ul class="space-y-2 mb-4">
          <li><a href="#" class="text-gray-300 hover:text-white">Singapore SMS Registry - Participating SMS Aggregators</a></li>
          <li><a href="#" class="text-gray-300 hover:text-white">COVID-19 Self-Test Kits Authorised for use in Singapore (Distributors)</a></li>
        </ul> -->
      </div>
      <div>
        <h3 class="text-lg font-bold mb-4">Singapore Company Search</h3>
        <div class="sm:flex mb-4">
          <form action="/search" method="get" class="flex items-center">
            <input
              type="text"
              name="q"
              placeholder="Search companies..."
              class="w-64 px-4 py-2 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-primary-500"
            />
            <button
              type="submit"
              class="absolute right-0 top-0 h-full px-3 text-gray-400 hover:text-gray-500"
            >
              <span class="sr-only">Search</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
              </svg>
            </button>
          </form>
        </div>
        <h3 class="text-lg font-bold mb-4">Quick Links</h3>
        <ul class="space-y-2 mb-4">
          {QuickLinks.map((link) => (
            <li>
              <a 
                href={link.href} 
                class="text-gray-300 hover:text-white transition-colors duration-200 text-sm"
              >
                {link.name}
              </a>
            </li>
          ))}
        </ul>
        <h3 class="text-lg font-bold mb-4">Contact Us</h3>
        <a href="mailto:hello@sgpbusiness.com" class="text-gray-300 hover:text-white">hello@sgpbusiness.com</a>
      </div>
    </div>
    <div class="mt-12 pt-8 border-t border-gray-700">
      <div class="flex flex-col justify-between">
        <h3>Disclaimer</h3>
        <p class="text-gray-300 text-sm">
          All information and services provided on this platform, including all associated pages and subdomains, are offered on an "as-is" and "as-available" basis without warranties of any kind. The content is made available for general information and personal use only.
          <br/>
          While every effort is made to ensure that the information is accurate, complete, and up to date, use of this platform and reliance on any information herein is strictly at your own risk. The platform and its owners shall not be held liable for any loss, damage, or consequences arising from the use of, or reliance on, any information provided.
          <br/>          
          No representations or warranties, express or implied, are made regarding the completeness, accuracy, reliability, suitability, or availability of the information, products, services, or related content for any purpose.
          <br/>
          Please be aware that some data may be cached, crawled, or republished by third-party sites not affiliated with us. We are not responsible for the accuracy, relevance, or content of any such external sources.
          <br/>          
          If you come across any outdated information, discrepancies, or errors, please contact us. We will review and make corrections where appropriate.
          <br/>
          All information published on this platform is sourced from publicly available records and made available in accordance with applicable privacy laws.
          <br/>
          Last updated: 5 June 2025  
        </p>
        <p class="text-gray-300 text-sm">
          &copy; {currentYear} SGP Business Directory. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>

<style>
    .flag-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    vertical-align: text-bottom;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>